          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="py-3 breadcrumb-wrapper mb-4"> قراردادن عکس محصول</h4>

              <div class="row">
                <!-- Basic  -->
                <div class="col-12">
                  <div class="card mb-4">
                    <h5 class="card-header heading-color">عکس اصلی</h5>
                    <div class="card-body">
                      <form action="/upload" class="dropzone needsclick" id="dropzone-basic">
                        <div class="dz-message needsclick">
                          عکس اصلی را اینجا رها کنید و یا کلیک کنید
                          <span class="note needsclick">(این تنها یک ناحیه رها کردن نمونه است. فایل های انتخاب شده واقعا ارسال <strong>نمی‌شوند</strong>.)</span>
                        </div>
                        <div class="fallback">
                          <input name="file" type="file">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /Basic  -->
                <!-- Multi  -->
                <div class="col-12">
                  <div class="card">
                    <h5 class="card-header heading-color">گالری عکس</h5>
                    <div class="card-body">
                      <form action="/upload" class="dropzone needsclick" id="dropzone-multi">
                        <div class="dz-message needsclick">
                          عکس های اصلی را اینجا رها کنید و یا کلیک کنید
                          <span class="note needsclick">(این تنها یک ناحیه رها کردن نمونه است. فایل های انتخاب شده واقعا ارسال <strong>نمی‌شوند</strong>.)</span>
                        </div>
                        <div class="fallback">
                          <input name="file" type="file">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Multi  -->
              </div>
            </div>
            <!-- / Content -->
