          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="py-3 breadcrumb-wrapper mb-4"><span class="text-muted fw-light">فرم‌ها /</span> ویرایشگرها</h4>

              <div class="row">
                <!-- Snow Theme -->
                <div class="col-12">
                  <div class="card mb-4">
                    <h5 class="card-header heading-color">حالت ویرایشگر</h5>
                    <div class="card-body">
                      <div id="snow-toolbar">
                        <span class="ql-formats">
                          <select class="ql-font"></select>
                          <select class="ql-size"></select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-bold"></button>
                          <button class="ql-italic"></button>
                          <button class="ql-underline"></button>
                          <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                          <select class="ql-color"></select>
                          <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-script" value="sub"></button>
                          <button class="ql-script" value="super"></button>
                        </span>
                        <span class="ql-formats">
                          <button class="ql-header" value="1"></button>
                          <button class="ql-header" value="2"></button>
                          <button class="ql-blockquote"></button>
                          <button class="ql-code-block"></button>
                        </span>
                      </div>
                      <div id="snow-editor">
                        <h6>ویرایشگر متن پرقدرت Quill</h6>
                        <p>
                          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Snow Theme -->

                <!-- Full Editor -->
                <div class="col-12">
                  <div class="card">
                    <h5 class="card-header heading-color">ویرایشگر کامل</h5>
                    <div class="card-body">
                      <div id="full-editor">
                        <h6>ویرایشگر متن پرقدرت Quill</h6>
                        <p>
                          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Full Editor -->
              </div>
            </div>
            <!-- / Content -->

          <!-- Content wrapper -->

          <script src="/admin/assets/js/forms-editors.js"></script>